CompileFlags:
  CompilationDatabase: c:\Users\chrfav01\benchresults\CMSIS-Stream-Nodes\cmsis_runner\out\cmsis_runner\SSE-300-MPS3\Debug
  Add:
    - -include
    - c:\Users\chrfav01\benchresults\CMSIS-Stream-Nodes\cmsis_runner\out\cmsis_runner\SSE-300-MPS3\Debug\compile_macros.h
