CompileFlags:
  CompilationDatabase: c:\Users\chrfav01\benchresults\CMSIS-Stream-Nodes\cmsis_runner\out\cmsis_runner\AE722F80F55D5LS\Debug

---
If:
  PathMatch: .*\.(c|C|h)$
CompileFlags:
  Add:
    - -include
    - c:\Users\chrfav01\benchresults\CMSIS-Stream-Nodes\cmsis_runner\out\cmsis_runner\AE722F80F55D5LS\Debug\compile_macros_c.h

---
If:
  PathMatch: .*\.(cpp|c\+\+|C\+\+|cxx|cc|CC|hpp)$
CompileFlags:
  Add:
    - -include
    - c:\Users\chrfav01\benchresults\CMSIS-Stream-Nodes\cmsis_runner\out\cmsis_runner\AE722F80F55D5LS\Debug\compile_macros_cxx.h
